body {
  background-color: lightyellow;
  font-family: Arial, sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}

h2 {
  color: darkgreen;
  margin-top: 20px;
}

h3 {
  color: darkred;
  margin-top: 15px;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: square;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #b90d24;
  padding: 9px;
  text-align: left;
}

th {
  background-color: #11bbc7;
}

